body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #222;
  color: white;
}

.piano {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.key {
  width: 60px;
  height: 200px;
  margin: 2px;
  background: white;
  border: 1px solid black;
  display: inline-block;
  cursor: pointer;
  transition: background 0.1s;
}

.key span {
  bottom: 5px;
  width: 100%;
  font-size: 14px;
  color: gray;
}

.key.black {
  width: 40px;
  height: 120px;
  background: black;
  position: relative;
  margin-left: -20px;
  margin-right: -20px;
  z-index: 2;
}

.key.active {
  background-color: rgb(142, 142, 142);
}

.controls {
  margin-top: 20px;
}
